@page "/category/create"
@page "/category/edit/{id:int}"

@inject ICategoryRepository _categoryRepository;
@inject NavigationManager _navigation;
@inject ISnackbar Snackbar

<EditForm Model="Category" OnValidSubmit="UpsertCategory">
    <DataAnnotationsValidator />
    <MudGrid>
        @if (IsLoading)
        {
            <MudItem xs="12">
                <div class="d-flex justify-center">
                    <MudProgressCircular Indeterminate Size="Size.Large" Color="Color.Primary" />
                </div>
            </MudItem>
        }
        else
        {
            <MudItem xs="12" md="6">
                <MudPaper Class="pa-4">
                    <MudText Typo="Typo.h5" Color="Color.Primary">@Title Category</MudText>
                    <MudTextField Label="Name" For="@(() => Category.Name)" @bind-Value="Category.Name" />
                    <div class="mt-4">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Disabled="@IsSentUpsert">@Title</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Default" Class="ml-4" Href="category">Back to Index</MudButton>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudPaper Class="pa-4" Height="100%">
                    <MudText Typo="Typo.h5">Validation Summary</MudText>
                    <MudText Color="Color.Error">
                        <ValidationSummary />
                    </MudText>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
</EditForm>

@code {
    [Parameter] public int Id { get; set; }

    CategoryDTO Category = new();
    string Title = "Create";
    bool IsLoading = true;
    bool IsSentUpsert = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && Id != 0)
        {
            Title = "Update";
            await LoadCategory();
        }
        IsLoading = false;
        StateHasChanged();
    }

    private async Task LoadCategory()
    {
        Category = await _categoryRepository.GetById(Id);
    }

    private async void UpsertCategory()
    {
        IsSentUpsert = true;
        await Task.Delay(1); //Flush IsSentUpsert
        if (Id == 0)
        {
            await _categoryRepository.Create(Category);
            Snackbar.Add("Category Created Succesfully", Severity.Success);
        }
        else
        {
            await _categoryRepository.Update(Category);
            Snackbar.Add("Product Updated Succesfully", Severity.Success);
        }
        _navigation.NavigateTo("category");
    }
}
