@page "/category"

@inject ICategoryRepository _categoryRepository;
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<MudGrid>
    <MudItem xs="12" md="6">
        <MudText Typo="Typo.h3" Color="Color.Primary">Category List</MudText>
    </MudItem>
    <MudItem xs="12" md="6" Class="mb-8">
        <div class="d-flex justify-end pt-2">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="category/create">Add New Category</MudButton>
        </div>
    </MudItem>
    <MudItem xs="12">
        @if (allCategories.Any())
        {
            <MudSimpleTable Hover Bordered>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in allCategories)
                    {
                        <tr>
                            <th>@category.Id</th>
                            <th>@category.Name</th>
                            <th>
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="@($"category/edit/{category.Id}")">Edit</MudButton>
                                <MudButton Variant="Variant.Filled" Color="Color.Error" Class="ml-2" @onclick="()=>OpenDeleteDialog(category)">Delete</MudButton>
                            </th>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        }
        else
        {
            @if (IsLoading)
            {
                <div class="d-flex justify-center">
                    <MudProgressCircular Indeterminate Size="Size.Large" Color="Color.Primary" />
                </div>
            }
            else
            {
                <div class="d-flex justify-center">
                    <MudText Typo="Typo.h5">No categories found.</MudText>
                </div>
            }
        }
    </MudItem>
</MudGrid>

@code {
    IEnumerable<CategoryDTO> allCategories = new List<CategoryDTO>();
    CategoryDTO categoryToBeDeleted = new();
    bool IsLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCategories();
        }
    }

    private async Task LoadCategories()
    {
        allCategories = await _categoryRepository.GetAll();
        IsLoading = false;
        StateHasChanged();
    }

    private async void DeleteCategory()
    {
        await _categoryRepository.Delete(categoryToBeDeleted.Id);
        await LoadCategories();
        Snackbar.Add("Category Deleted", Severity.Success);
    }

    private void OpenDeleteDialog(CategoryDTO category)
    {
        categoryToBeDeleted = category;

        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you really want to delete this Category? This process cannot be undone.");
        parameters.Add("DeleteCategory", new EventCallbackFactory().Create(this, DeleteCategory));

        DialogService.Show<DeleteDialog>($"Delete Category: {category.Name}", parameters);
    }
}
