<div class="mt-3">
    <hr />
    <h5>Another Child Component</h5>
    <input id="text-name" type="text" @attributes="InputAttributes" />
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>();
}
