<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            <div>Hello from Empty Render Fragment</div>
        }
    </div>
    <button class="btn btn-danger" @onclick="OnButtonClick">Button</button>

    <GrandChildComponent />
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnButtonClick { get; set; }
}
