<MudAlert Severity="Severity.Info" Class="mt-4">@Title</MudAlert>
<MudAlert Severity="Severity.Success" Class="mt-4">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        <div>Hello from Empty Render Fragment</div>
    }
</MudAlert>
<MudButton Variant="Variant.Filled" Color="Color.Error" Class="my-4" @onclick="OnButtonClick">Button</MudButton>

<GrandChildComponent />

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnButtonClick { get; set; }
}
