@if (IsActive)
{
    <div class="pt-3">
        <button type="button" class="btn btn-success" style="width:100px">Edit</button>
        <button type="button" class="btn btn-danger" style="width:100px">Delete</button>
    </div>
}

@code {
    [Parameter]
    public bool IsActive { get; set; }
}
