@if (IsActive)
{
    <div class="pt-3">
        <MudButton Variant="Variant.Filled" Style="width:100px" Class="mr-4" Color="Color.Success" EndIcon="@Icons.Filled.Edit">Edit</MudButton>
        <MudButton Variant="Variant.Filled" Style="width:100px" Color="Color.Error" EndIcon="@Icons.Filled.Delete">Delete</MudButton>
    </div>
}

@code {
    [Parameter]
    public bool IsActive { get; set; }
}
