@page "/learnblazor/parentcomponent"

<h3>Parent/Child Relation</h3>

<ChildComponent Title="This is a message from the parent!" OnButtonClick="@ShowMessage">
    Render fragment from parent!
</ChildComponent>

<div>
    @MessageText
</div>

<AnotherChildComponent placeholder="Placeholder From Parent" maxlength="5" />

@code {
    public string MessageText = "";

    private void ShowMessage()
    {
        if (string.IsNullOrWhiteSpace(MessageText))
            MessageText = "Button from Child Component";
        else
            MessageText = "";
    }
}
